<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ion-card</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card routerLink="../home">
    <img src="../../assets/theme/espace.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Component</ion-card-subtitle>
      <ion-card-title>ion-card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       ion-card est un component pemettant d'afficher dans un cadre différents éléments comme un titre, un sous titre, des liens ou encore une image.
    </ion-card-content>
  </ion-card>
</ion-content>
