<ion-menu side="start">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="../carte">
        <ion-label >Card</ion-label>
      </ion-item>
      <ion-item routerLink="../checkbox">
        <ion-label >Checkbox</ion-label>
      </ion-item>
      <ion-item routerLink="../chip">
        <ion-label>Chip</ion-label>
      </ion-item>
      <ion-item routerLink="../fab">
        <ion-label>FAB</ion-label>
      </ion-item>
      <ion-item routerLink="../badge">
        <ion-label>Badge</ion-label>
      </ion-item>
      <ion-item routerLink="../list">
        <ion-label>List</ion-label>
      </ion-item>
      <ion-item routerLink="../sign-up">
        <ion-label>Input</ion-label>
      </ion-item>
      <ion-item routerLink="../progress-bar">
        <ion-label>Progress Bar</ion-label>
      </ion-item>
      <ion-item routerLink="../tabs">
        <ion-label>Tabs</ion-label>
      </ion-item>
      <ion-item routerLink="../datetime">
        <ion-label>Datetime</ion-label>
      </ion-item>  
      <ion-item routerLink="../chat">
        <ion-label>Chat</ion-label>
      </ion-item>    
      <ion-item routerLink="../settings">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label >Settings</ion-label >
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" main>
  <ion-header>
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Ionic Discovery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card href="https://ionicframework.com/docs">
      <img src="../../assets/theme/ionic.jpg"/>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>IonicDiscovery</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         est une application mobile permettant de démontrer différentes fonctionnalités disponible sous Ionic v4.
      </ion-card-content>
    </ion-card>


  <ion-searchbar (ionInput)="FilterJsonData($event)"></ion-searchbar>
  <ion-list>
    <ion-item (click)="selectVal(item.name)" *ngFor="let item of jsonData">{{item.name}}</ion-item>
  </ion-list>


  
  
  </ion-content>
</div>
